<header ng-controller="HeaderController">
    <img src="~/app/assets/np-header.png" alt="noir-pixel"/>
    <span>{{::title}}</span>
    <ul>
        <li ng-repeat="menuItem in mainMenu">
            <a ui-sref="home">{{::menuItem.text}}</a>
        </li>
    </ul>
    <button ng-click="add()"></button>
</header>
