<header ng-controller="HeaderController as ctrl">
    <img src="~/app/assets/np-header.png" alt="noir-pixel" />
    <ul>
        <li ng-repeat="menuItem in ::ctrl.mainMenu">
            <a ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
        </li>
    </ul>

    <ul>
        <li ng-repeat="menuItem in ::ctrl.signInMenu">
            <a ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
        </li>
    </ul>
</header>
