<header ng-controller="HeaderController as ctrl">
    <a ui-sref="home"><img src="~/app/images/np-header-w.png" alt="noir-pixel" /></a>
    <ul id="main-menu">
        <li ng-repeat="menuItem in ::ctrl.mainMenu">
            <a ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
        </li>
    </ul>

    <ul>
        <li>
            <a ui-sref="signIn" ng-bind="::ctrl.signInMenu.signIn" ng-if="!ctrl.authenticated"></a>
            <a ui-sref="signUp" ng-bind="::ctrl.signInMenu.signUp" ng-if="!ctrl.authenticated"></a>
            <a ui-sref="signOut" ng-bind="::ctrl.signInMenu.signOut" ng-if="ctrl.authenticated"></a>
        </li>
    </ul>
    <div class="header-divider"></div>
</header>
