<header ng-controller="HeaderController as ctrl" class="columns-container">
    <a ui-sref="home" class="column-left site-icon"><img src="app/images/np-header.png" alt="noir-pixel" /></a>
    <nav id="main-menu" class="column-center">
        <a ng-repeat="menuItem in ::ctrl.mainMenu" ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
    </nav>
    <nav id="auth-menu" class="column-right">
        <div ng-if="ctrl.login.authenticated === false" class="top-level sync-scale-in">
            <a class="signin" ng-click="ctrl.signin()" np-i18n="AuthMenu_SignIn"></a>
        </div>
        <div ng-if="ctrl.login.authenticated" class="sync-scale-in">
            <div np-dropdown>
                <np-this-user image="{{ctrl.login.profileThumbnail}}" display-name="{{ctrl.login.userName}}"></np-this-user>
                <div np-dropdown-toggle class="scale-in-out">
                    <ul class="dropdown" role="menu">
                        <li>
                            <a class="columns-container" ui-sref="userHome.profile({userName: ctrl.login.userName})">
                                <p class="icon-public column-left"></p>
                                <p class="column-center user-name" ng-bind="ctrl.login.userName"></p>
                            </a>
                        </li>
                        <li>
                            <a class="columns-container" ui-sref="userHome.profile({userName: ctrl.login.userName})">
                                <p class="icon-home column-left"></p>
                                <p class="column-center" np-i18n="AuthMenu_UserHome"></p>
                            </a>
                        </li>
                        <li>
                            <a class="columns-container" ng-click="ctrl.signout()">
                                <p class="icon-signout column-left"></p>
                                <p class="column-center" np-i18n="AuthMenu_SignOut"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>