<header ng-controller="HeaderController as ctrl">
    <a ui-sref="home"><img src="app/images/np-header-w.png" alt="noir-pixel" /></a>
    <ul id="main-menu">
        <li ng-repeat="menuItem in ::ctrl.mainMenu">
            <a ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
        </li>
    </ul>
    <ul id="auth-menu">
        <li>
            <a ng-click="ctrl.signin()" ng-bind="::ctrl.signInMenu.signIn" ng-if="!ctrl.authenticated"></a>
            <a ui-sref="signOut" ng-if="ctrl.authenticated">
                <div class="icon-user"></div>
            </a>
        </li>
    </ul>
</header>