<header ng-controller="HeaderController as ctrl">
    <a ui-sref="home"><img src="~/app/images/np-header-w.png" alt="noir-pixel" /></a>
    <ul id="main-menu">
        <li ng-repeat="menuItem in ::ctrl.mainMenu">
            <a ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
        </li>
    </ul>

    <ul>
        <li ng-repeat="menuItem in ctrl.signInMenu">
            <a ui-sref="{{::menuItem.uri}}" ng-bind="::menuItem.text"></a>
        </li>
    </ul>
    <div class="header-divider"></div>
</header>
