<div id="profile-public">
    <div class="columns-container">
        <div class="column-center">
            <div class="edit-block">
                <span class="edit-label" np-i18n="Label_FullName"></span>
                <input class="full-name" ng-model="publicCtrl.profileData.user.fullName" type="text" placeholder="{{'Hint_FullName' | npi18n}}" np-autofocus />
            </div>

            <div class="edit-block">
                <span class="edit-label" np-i18n="Label_WhereDoYouLive"></span>
                <div class="selectbox-wrapper country-select">
                    <ui-select ng-model="publicCtrl.livesIn.country"
                               theme="selectize"
                               reset-search-input="true">
                        <ui-select-match placeholder="{{'Hint_Country' | npi18n}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="country in publicCtrl.countries | filter: $select.search"
                                           class="country-option">
                            <span ng-class="::country.code | lowercase" class="flag"></span>
                            <span ng-bind-html="::country.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <input type="text" ng-model="publicCtrl.livesIn.city" placeholder="{{'Hint_City' | npi18n}}" class="city" />
            </div>

            <input type="button" class="save" np-i18n="Btn_Save" ng-click="publicCtrl.save()" />
        </div>
        <div class="column-right">
            <div class="profile-image">
                <div class="edit-label" np-i18n="Label_ProfilePhoto"></div>
                <div class="image-actions"
                     flow-init="{target: publicCtrl.imageUpload.endpoint, withCredentials: true}"
                     flow-files-added="publicCtrl.uploadProfileImage()"
                     flow-complete="publicCtrl.refreshProfileImage()"
                     flow-files-submitted="$flow.upload()">
                    <div flow-btn
                         class="add"
                         ng-class="{'only': !publicCtrl.profileData.profileImage}">
                        <div class="action">
                            <span class="image"></span>
                        </div>
                    </div>
                    <img ng-src="{{publicCtrl.profileData.profileImage}}" ng-if="publicCtrl.profileData.profileImage" class="image" />
                    <div np-inplace-buttons
                         inplace-button-yes="publicCtrl.deleteProfileImage()"
                         class="delete"
                         ng-if="publicCtrl.profileData.profileImage">
                        <div class="action">
                            <span class="image"></span>
                        </div>
                    </div>
                </div>
                <div class="description" ng-bind="::publicCtrl.imageUpload.description"></div>
            </div>
        </div>
    </div>
</div>
