<div id="darkroom" 
     flow-init="{target: darkroomCtrl.photoUpload.endpoint, withCredentials: true}"
     flow-file-progress="darkroomCtrl.updateProgress($flow.progress(), $flow.files)"
     flow-complete="darkroomCtrl.uploadCompleted()"
     flow-file-success="darkroomCtrl.fileUploadSuccess($message)"
     flow-file-error="darkroomCtrl.fileUploadError($file, $message)"
     flow-files-submitted="$flow.upload()"
     flow-files-added="darkroomCtrl.filesAdded($files)">
    <!--<div class="columns-container">
        <div class="column-left"></div>
        <div class="column-center">
            <div>
                <div class="drop-zone"
                     ng-class="dropZoneClass"
                     flow-drop
                     flow-btn>
                    <span class="text" np-i18n="Darkroom_DropZoone"></span>

                    <div class="bar"
                         ng-style="{'width': (darkroomCtrl.loadProgress * 100) + '%' }"
                         ng-class="{'completed': darkroomCtrl.loadProgress === 0}">
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="columns-container">
        <div class="column-left">
            <ul class="menu" np-state-menu>
                <li flow-btn>
                    <div class="menu-item">
                        <span class="icon icon-upload-32"></span>
                        <span class="text">Upload Photos</span>
                    </div>
                </li>
                <li np-state-menu-item>
                    <div class="menu-item" np-state-menu-set>
                        <span class="icon icon-photos-32"></span>
                        <span class="text">Add to your Photos</span>
                    </div>
                </li>
                <li np-state-menu-item>
                    <div class="menu-item" np-state-menu-set>
                        <span class="icon icon-stack-32"></span>
                        <span class="text">Stack</span>
                    </div>
                    <div class="sub-menu" np-state-submenu>
                        <div class="sub-menu-item">
                            <span class="count">2</span>
                            <span class="text">Stack</span>
                        </div>
                        <div class="sub-menu-item close" np-state-menu-reset>
                            <span class="icon icon-close-16"></span>
                            <span class="text">Close</span>
                        </div>
                    </div>
                </li>
                <li np-state-menu-item>
                    <div class="menu-item" np-state-menu-set>
                        <span class="icon icon-delete-32"></span>
                        <span class="text">Delete</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column-center">
            <!--<div class="currently-uploading">
                <div class="container" ng-repeat="file in darkroomCtrl.currentlyLoading">
                    <div class="image-container fade-out" ng-if="file.progress() != 1">
                        <np-img-crop size="50">
                            <img flow-img="file"/>
                        </np-img-crop>
                        <progress-arc complete="file.progress()"></progress-arc>
                    </div>
                </div>
            </div>-->
            <div class="pending-photos clearfix">
                <div ng-repeat="photo in darkroomCtrl.pendingPhotos" class="container">
                    <img ng-src="{{::photo.previewUrl}}" />
                </div>
            </div>
        </div>
    </div>
</div>