<div id="edit-photo">
    <div class="columns-container top">
        <div class="column-left">
            <img ng-src="{{::ctrl.photo.image.previewUrl}}" />
        </div>
        <div class="column-center">
            <div class="edit-block">
                <span class="edit-label" np-i18n="Label_Title"></span>
                <input type="text" np-autofocus />
            </div>
            <div class="edit-block">
                <span class="edit-label" np-i18n="Label_Story"></span>
                <textarea placeholder="{{'Hint_PhotoStory' | npi18n}}"></textarea>
            </div>
        </div>
    </div>
    <div class="columns-container middle">
        <div class="column-left">
            <np-exif-edit ng-repeat="tag in ctrl.photo.exif"></np-exif-edit>
        </div>
        <div class="column-center">
            <div class="tags">
                <input type="text"
                       np-autowidth
                       np-tag-add
                       tags="ctrl.photo.tags"
                       class="add-tag"
                       placeholder="{{'Hint_AddTag' | npi18n}}" />
                <span class="tag" 
                      ng-repeat="tag in ctrl.photo.tags" 
                      ng-bind="tag.tag" 
                      np-tag-edit
                      selected="tag.selected"></span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <input type="button" np-i18n="Btn_Save" />
    </div>
</div>