<form id="external-register" name="externalRegister" class="centered-outer">
    <div class="centered-middle">
        <div class="content centered-inner">
            <h1 np-i18n="Register_AlmostDone"></h1>
            <span class="edit-label" np-i18n="Label_SelectUserName"></span>
            <input type="text" ng-model="ctrl.userName" name="userName"
                   autofocus
                   autocomplete="off"
                   ng-required="externalRegister.userName.$dirty"
                   np-unique-username
                   ng-trim
                   ng-pattern="::ctrl.userNameValidation.regEx"
                   ng-minlength="::ctrl.userNameValidation.minLength" ng-maxlength="::ctrl.userNameValidation.maxLength"
                   ng-model-options="{allowInvalid: true, updateOn: 'default blur', debounce: {'default': 300, 'blur': 0}}" />
            <div ng-messages="externalRegister.userName.$error" multiple>
                <ng-messages-include src="/app/src/auth/error-messages.html"></ng-messages-include>
            </div>
            <div class="buttons-block-left clearfix">
                <input type="submit" class="default-action" ng-click="ctrl.register()" np-i18n="Btn_Register" ng-disabled="!externalRegister.$valid" />
                <input type="button" ng-click="ctrl.close()" np-i18n="Btn_Cancel" />
            </div>
        </div>
    </div>
</form>