.zoom.ng-enter {
   transition: 0.5s linear all;
   position: relative;
   top: -100px;
   opacity: 0;
 }
 
 // This is the state that it will be in when it is 'visible' - (eg: ng-if
 // evaluates to true)
 //
 .zoom.ng-enter-active {
   top: 0;
   opacity: 1;
 }