@import (reference) "sprites64.less";
@margin: 0.3em;
@caption-size: 1.5em;

#signin {
    display: table;
    height: 30%;
    width: 100%;
    position: absolute;

    .caption{
        display: table-cell;
        vertical-align: top;
        float: left;
        text-align: right;
        width: 30%;
        margin: @margin 0 0;
        font-size: @caption-size;
    }

    .signin-links{
        float: left;
        margin: 0 0 0 3em;
    }

    .push{
        display: table-cell;
        vertical-align: bottom;
    }

    .signin-link {
        float: left;
        margin: @margin;
    }

    .icon-facebook {
        .sprite(@facebook);
    }

    .icon-googleplus {
        .sprite(@google);
    }
}