@import (reference) "colors.less";
@import (reference) "fonts.less";

@body-offset-side: 1em;
@body-offset-top: 0.1em; 
@body-offset-bottom: 1em;

body {
    background-color: @rangoon-green;
    .content-font;
    margin: 0;
    padding: 0;
    color: @ecru-white;
}