@import (reference) "colors.less";
@import (reference) "fonts.less";


.button{
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: @content-font-family;
    background-color: @rangoon-green;
    color: @ecru-white;
    border: 1px solid @plantation;
    padding: 0.6em 1.5em;
    text-transform: uppercase;
}

input[type=button],
input[type=submit] {
    .button;
}

input[type=button].default-action,
input[type=submit].default-action {
    background-color: @olive-drab;
    border: 1px solid @ecru-white;
}

input[type=button][disabled].default-action,
input[type=submit][disabled].default-action {
    opacity: .3;
}


.buttons-block {
    input[type=button],
    input[type=submit] {
        display: block;
        float: left;
    }
}