@import (reference) "mixins.less";

#init-loading {
    &.centered-outer{
        position: absolute;
    }

    .message {
        font-size: 2.5em;
        height: 1.5em;
        font-weight: 400;
        text-align: center;
    }

    .spinner {
        margin: auto auto;
    }
}


[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}