@background-color: #171D1B;
@main-text-color: #F6F6E8;

@attention-color: #E32D44;

@link-color-imp: #BDD4DE;

@edit-background-color: #2C2E32;
@edit-border-color: #344C44;
@edit-text-color: #ACCFCC;

@button-text-color: #F6F6E8;
@buton-background-color: #2C3230;