@rangoon-green: #171D1B;
/*@ecru-white: #F6F6E8;*/
@ecru-white: #F5F3E5;
@amaranth: #E32D44;
@brick-red: #c6293d;
/*@beau-blue: #BDD4DE;*/
@beau-blue: #BCD4E6;
/*@plantation: #344C44;*/
@plantation: #27504B;
/*@jet-stream: #ACCFCC;*/
@jet-stream: #B5D2CE;
@mine-shaft: #2C3230;
/*@olive-drab: #6A9A1F;*/
@olive-drab: #6B8E23;