@import (reference) "mixins.less";
@import (reference) "animations.less";
@import (reference) "icons.less";
@import (reference) "colors.less";

@drop-zone-height: 3em;
@menu-section-width: 250px;

#darkroom {
    .column-left {
        width: 250px;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .menu {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        .sub-menu {
            display: none;
            margin: 2em 0 0 1em;

            &.selected {
                display: block;
            }

            .sub-menu-item {
                cursor: pointer;
                margin: 1em 0 0;
            }
        }

        .menu-item {
            margin: 2em 0 0;
            cursor: pointer;
            display: inline-block;

            .text,
            .icon {
                vertical-align: middle;
                display: inline-block;
            }

            .text {
                margin: 0 0 0 0.5em;
            }

            &.selected {
                .text {
                    margin: 0 0 0 0.3em;
                    font-size: 140%;
                }
            }

            &.disabled {
                cursor: default;

                .text,
                .icon {
                    opacity: 0.3;
                }
            }
        }
    }

    .drop-zone {
        border-radius: 2px;
        border: 2px solid @ecru-white;
        width: 100%;
        height: @drop-zone-height;
        font-size: 200%;
        font-weight: 800;
        display: table;

        .text {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
}
