@import (reference) "mixins.less";
@import (reference) "animations.less";
@import (reference) "icons.less";
@import (reference) "colors.less";
@import (reference) "column-layout.less";
@import (reference) "images.less";

@drop-zone-height: 2.8em;
@menu-section-width: 250px;

#darkroom {
    overflow: hidden;

    .column-left {
        width: 250px;
        -ms-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .menu {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        .text,
        .icon {
            vertical-align: middle;
            display: inline-block;
        }

        .text {
            margin: 0 0 0 0.5em;
        }

        .sub-menu {
            display: none;
            margin: 2em 0 0 1em;

            &.selected {
                display: block;
            }

            .sub-menu-item {
                cursor: pointer;
                margin: 1em 0 0;

                .count {
                    color: @bright-cerulean;
                    border: 2px solid @bright-cerulean;
                    border-radius: 12px;
                    height: 16px;
                    padding: 0 0.5em;
                    font-weight: 400;
                    vertical-align: middle;
                    font-size: 120%;
                }
            }
        }

        .menu-item {
            margin: 2em 0 0;
            cursor: pointer;
            display: inline-block;



            &.selected {
                .text {
                    margin: 0 0 0 0.3em;
                    font-size: 140%;
                }
            }

            &.disabled {
                cursor: default;

                .text,
                .icon {
                    opacity: 0.2;
                }
            }
        }
    }

    @photo-margin: 2em;

    .pending-photos {
        .container {
            float: left;
            margin: @photo-margin;

            img {
                width: @photo-preview-size;
                height: @photo-preview-size;
            }
        }
    }
}

@spinner-size: 40px;
@image-preview-size: 50px;

#currently-uploading {
    .container {
        .image-container {
            position: relative;
            min-height: @image-preview-size;

            progress-arc {
                position: absolute;
                top: (@image-preview-size - @spinner-size) / 2;
                left: (@image-preview-size - @spinner-size) / 2;
            }

            img {
                &.loading {
                    opacity: 0.3;
                }
            }

            &.fade-out.ng-leave {
                -moz-animation: fadeout 0.7s;
                -o-animation: fadeout 0.7s;
                -webkit-animation: fadeout 0.7s;
                animation: fadeout 0.7s;
            }

            .error {
                display: inline-block;
                margin: 0 0 0 1em;

                &.column-center {
                    -webkit-align-self: center;
                    -ms-flex-item-align: center;
                    align-self: center;
                }

                .icon {
                    display: inline-block;
                }

                .text {
                    margin: 0 0 0 0.2em;
                }
            }
        }
    }
}
