@import (reference) "colors.less";
@import (reference) "colors.less";
@import (reference) "mixins.less";

@dropdown-font-size: 90%;

*[np-dropdown] {
    cursor: pointer;

    *[np-dropdown-toggle] {
        cursor: default;
        right: 0;
        padding: 0.5em;
        background-color: @rangoon-green;
        .dropdown-shadow;
        opacity: 0.95;
        font-size: @dropdown-font-size;
        z-index: 9999;

        .dropdown {
            padding: 0.5em 1em;
            border-left: solid 1px @plantation;
            border-right: solid 1px @plantation;
            text-align: right;
            white-space: nowrap;
        }
    }
}