@import (reference) "colors.less";

.dropdown {
    list-style: none;
    margin: 0;
    border-left: solid 1px @plantation;
    border-right: solid 1px @plantation;
    border-radius: 5px;

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.arrow-up {
    position: absolute;
    content: "";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid @plantation;
}