@import (reference) "colors.less";
@import (reference) "fonts.less";

@dropdown-font-size: 90%;

*[np-dropdown] {
    cursor: pointer;

    *[np-dropdown-toggle] {
        cursor: default;
        right: 0;
        padding: 0.5em;
        background-color: @rangoon-green;
        -webkit-box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px -1px 25px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -1px 25px 0 rgba(0,0,0,0.75);
        box-shadow: -1px -1px 25px 0 rgba(0,0,0,0.75);
        box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.75);
        opacity: 0.95;
        font-size: @dropdown-font-size;

        .dropdown {
            padding: 0.5em 1em;
            border-left: solid 1px @plantation;
            border-right: solid 1px @plantation;
            text-align: right;
            white-space: nowrap;
        }
    }
}