#edit-photo {
    .column-left {
        padding: 1.5em 2em;
    }

    .column-center {
        padding: 1.5em 2em 1.5em 6em;
        text-align: left;

        input[type=text],
        textarea {
            width: 70%;
        }

        textarea{
            height: 5em;
            max-height: 10em;
            resize: vertical;
        }
    }
}
