@import (reference) "colors.less";

#edit-photo {
    .top {
        &.columns-container {
            .column-left {
                margin: 1.5em 2em;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
            }

            .column-center {
                padding: 1.5em 2em 1.5em 6em;
                text-align: left;
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;

                input[type=text],
                textarea,
                .genre-select {
                    width: 70%;
                }

                textarea {
                    height: 5em;
                    max-height: 10em;
                    resize: vertical;
                }
            }
        }
    }

    @top-section-offset: 5em;

    .middle {
        &.columns-container {
            -webkit-box-pack: start;
            -moz-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;

            .column-left {
                margin: @top-section-offset 0 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
            }

            .column-center {
                margin: @top-section-offset 0 0 4em;
                text-align: left;

                .tags {
                    .add-tag {
                        font-size: 100%;
                        border: dashed 1px @plantation;
                        border-radius: 15px;
                        min-width: 5em;
                        width: 5em;
                        max-width: 15em;
                    }

                    .tag {
                        text-align: center;
                        padding: 0.22em 1em;
                        margin: 0.3em;
                        border: solid 1px @plantation;
                        border-radius: 15px;
                        background-color: @rangoon-green;
                        color: @persian-green;
                        display: inline-block;
                        cursor: pointer;

                        &.selected {
                            background-color: @persian-green;
                            font-weight: 600;
                            color: @mine-shaft;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        margin: 2em 0;

        input[type=button] {
            width: 20em;
        }
    }
}
