@import (reference) "colors.less";
@import (reference) "sprites32.less";
@import (reference) "sprites16.less";
@import (reference) "column-layout.less";
@import (reference) "body.less";
@import (reference) "this-user.less";
@import (reference) "mixins.less";
@import (reference) "images.less";

header {
    margin: 0.2em @body-offset-side 0;
    height: @profile-thumbnail-size * 1.3;

    .site-icon {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        padding: 0;

        img {
            width: @main-icon-size;
            height: @main-icon-size;
        }
    }

    #main-menu {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 2.5em;
        letter-spacing: 0.12em;

        a {
            display: inline;
            margin: 0 1.5em 0 0;

            &:hover {
                color: @ecru-white;
            }
        }
    }

    #auth-menu {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;

        .signin {
            color: @beau-blue;
        }

        .dropdown {
            li {
                margin: 0.5em 0 0;
            }

            li:first-of-type {
                margin: 0;
            }

            li:last-of-type{
                margin: 2em 0 0;
            }

            .column-left {
                margin: 0 2em 0 0;
            }

            .user-name {
                .cut-text(8em);
            }
        }
    }
}

.icon-user {
    .sprite(@user32);
}

.icon-home {
    .sprite(@home16);
}

.icon-signout {
    .sprite(@logout16);
}

.icon-public {
    .sprite(@public16);
}
