@import (reference) "colors.less";
@import (reference) "sprites32.less";
@import (reference) "body.less";
@import (reference) "mixins.less";

@profile-thumbnail-size: 48px;
@header-font-size: 1.25em;
@profile-thumbnail-border: 2px;
@auth-menu-offset-top: @body-offset-top + 0.2;

header {
    position: relative;
    font-size: @header-font-size;
    margin: @body-offset-top @body-offset-side 0;
}

#main-menu {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 2.5em;

    a {
        display: inline;
        margin: 0 1.5em 0 0;
    }
}

#auth-menu {
    float: right;
    padding: @auth-menu-offset-top 0 0;

    .top-level.sync-fade-out.ng-leave{
        position: absolute;
        right: 0;
        top: @auth-menu-offset-top;
    }

    .signin {
        color: @beau-blue;
        display: block;
    }

    .thumbnail {
        position: relative;

        .resizer {
            overflow: hidden;
            width: @profile-thumbnail-size;
            height: @profile-thumbnail-size;
            border-radius: (@profile-thumbnail-size + 2 * @profile-thumbnail-border) / 2 + 2;
            border: solid @profile-thumbnail-border @cape-cod;

            a {
                padding: 0;
            }

            img {
                vertical-align: middle;
                width: @profile-thumbnail-size;
                height: @profile-thumbnail-size;
            }
        }

        .arrow-up {
            right: 50%;
        }

        .dropdown {
            text-align: right;
            right: 0;
            padding-right: 0.5em;

            .signout {
                display: inline-block;
                margin: 1em 0 0;
                color: @beau-blue;
                font-size: @header-font-size - 0.54em;
            }

            .user-name {
                font-weight: 200;
                .cut-text(8em);
                font-size: @header-font-size - 0.3em;
            }
        }
    }
}

.icon-user {
    .sprite(@user);
}