@import (reference) "colors.less";
@import (reference) "fonts.less";

body {
    background-color: @background-color;
    .main-font;
    margin: 0.2em 1em;
    padding: 0;
    color: @main-text-color;
}

/*links*/
a {
    color: @main-text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: lighten(@main-text-color, 80%);
        text-shadow: -1px 1px 20px rgba(255, 255, 255, 0.6), 1px -1px 20px rgba(255, 255, 255, 0.6);
        -webkit-transition: 50ms linear 0s;
        -moz-transition: 50ms linear 0s;
        -o-transition: 50ms linear 0s;
        transition: 50ms linear 0s;
    }
}

/*image*/
a, img{
    border:none;
    outline: none;
}