@import (reference) "colors.less";
@import (reference) "fonts.less";
@import (reference) "mixins.less";

body {
    background-color: @background-color;
    .main-font;
    margin: 0;
    padding: 0;
    color: @main-text-color;
}

/*links*/
a {
    color: @main-text-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        .glow-hover();
    }
}

/*image*/
a, img{
    border:none;
    outline: none;
}

/*edit*/
input{
    background-color: @edit-background-color;
    color: @edit-text-color;
    border: 1px solid @edit-border-color;
    padding: 0.45em 0.4em;
    margin: .5em 0 0;
}

/*buttons*/
input[type=button],
input[type=submit]
{
    background-color: @button-background-color;
    color: @button-color;
    border: 1px  solid @button-color;
    padding: 1em 1.5em;
}


