@import (reference) "edits.less";
@import (reference) "sprites32.less";

@country-select-width: 60%;
@profile-image-size: 130px;
@action-image-size: 32px;
@add-to-delete-ratio: 0.6;

#profile-public {
    .full-name {
        width: 100%;
    }

    input.save {
        width: 100%;
        margin: 5em 0 0;
    }

    .country-select {
        width: @country-select-width;
    }

    .city {
        width: 100% - @country-select-width - 1%;
    }

    .column-center {
        width: 70%;
    }

    .column-right {
        -webkit-flex: 0 1 200px;
        -ms-flex: 0 1 200px;
        flex: 0 1 200px;
        padding: 0 0 0 3em;
    }



    .country-option {
        display: table;

        span {
            padding: 0 0.2em 0 0;
            vertical-align: middle;
        }
    }

    .profile-image {


        .action:last-of-type {
            margin: 0.5em 0 0 4em;
        }

        .description {
            margin: 2em 0 0;
            opacity: 0.5;
            font-size: 90%;
        }

        .image-actions {
            margin: @edit-before-margin 0 0;
            position: relative;
            overflow: hidden;
            width: @profile-image-size;
            height: @profile-image-size;

            .image {
                width: @profile-image-size;
                height: @profile-image-size;

                &:hover {
                    ~ .action {
                        &.add {
                            height: @profile-image-size * @add-to-delete-ratio !important;
                        }

                        &.delete {
                            height: @profile-image-size * (1 - @add-to-delete-ratio) !important;
                        }
                    }
                }
            }

            .action {
                position: absolute;
                width: 100%;
                background-color: @mine-shaft;
                opacity: 0.2;
                border: solid 1px @bianca;
                cursor: pointer;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                height: @profile-image-size * 0.2;

                &:hover {
                    opacity: 0.85;
                }

                .image {
                    display: inline-block;
                    opacity: 1;
                    position: absolute;
                    left: @profile-image-size / 2 - @action-image-size / 2;
                }

                &.add {
                    top: 0;
                    left: 0;

                    &:hover {
                        height: @profile-image-size * @add-to-delete-ratio;
                    }

                    .image {
                        .sprite(@camera32);
                        top: @profile-image-size * @add-to-delete-ratio / 2 - @action-image-size / 2;
                    }
                }

                &.delete {
                    bottom: 0;
                    right: 0;

                    &:hover {
                        height: @profile-image-size * (1 - @add-to-delete-ratio);
                    }

                    .image {
                        .sprite(@delete32);
                        left: @profile-image-size / 2 - @action-image-size / 2;
                        top: @profile-image-size * (1 - @add-to-delete-ratio) / 2 - @action-image-size / 2;
                    }
                }
            }
        }
    }
}
