@import (reference) "profile.less";
@import (reference) "social.less";

#profile-private {
    .email {
        width: 100%;
    }

    .email-description {
        margin: 2em 0 0;
        opacity: 0.5;
        font-size: 90%;
    }

    input.save {
        width: 100%;
        margin: 5em 0 0;

        &.default-action {
            -moz-transition: background-color linear 0.2s;
            -o-transition: background-color linear 0.2s;
            -webkit-transition: background-color linear 0.2s;
            transition: background-color linear 0.2s;
        }
    }

    .column-center {
        width: @profile-data-width;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }
}
