@import (reference) "icons.less";
@import (reference) "mixins.less";

@profile-data-width: 50%;
@max-profile-data-width: 500px;

#profile {
    .column-left {
        -webkit-flex: 0 1 150px;
        -ms-flex: 0 1 150px;
        flex: 0 1 150px;
        margin: 0 3em 0 0;
    }

    .vertical {
        .tab {

            .tab-private {
                .icon-private-16;
                .animate;
            }

            .tab-public {
                .icon-public-16;
                .animate;
            }

            &.active {
                .tab-private {
                    .icon-private-32;
                    .animate;
                }

                .tab-public {
                    .icon-public-32;
                    .animate;
                }
            }
        }

        .animate {
            -moz-transition-property: width;
            -o-transition-property: width;
            -webkit-transition-property: width;
            transition-property: width;
            -moz-transition-duration: 0.2s;
            -o-transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
        }
    }
}
