/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@facebook-x: 380px;
@facebook-y: 0px;
@facebook-offset-x: -380px;
@facebook-offset-y: 0px;
@facebook-width: 76px;
@facebook-height: 48px;
@facebook-total-width: 456px;
@facebook-total-height: 288px;
@facebook-image: '../images/sprites64.png';
@facebook: 380px 0px -380px 0px 76px 48px 456px 288px '../images/sprites64.png';
@google-x: 304px;
@google-y: 48px;
@google-offset-x: -304px;
@google-offset-y: -48px;
@google-width: 76px;
@google-height: 48px;
@google-total-width: 456px;
@google-total-height: 288px;
@google-image: '../images/sprites64.png';
@google: 304px 48px -304px -48px 76px 48px 456px 288px '../images/sprites64.png';
@instagram-x: 228px;
@instagram-y: 96px;
@instagram-offset-x: -228px;
@instagram-offset-y: -96px;
@instagram-width: 76px;
@instagram-height: 48px;
@instagram-total-width: 456px;
@instagram-total-height: 288px;
@instagram-image: '../images/sprites64.png';
@instagram: 228px 96px -228px -96px 76px 48px 456px 288px '../images/sprites64.png';
@pinterest-x: 152px;
@pinterest-y: 144px;
@pinterest-offset-x: -152px;
@pinterest-offset-y: -144px;
@pinterest-width: 76px;
@pinterest-height: 48px;
@pinterest-total-width: 456px;
@pinterest-total-height: 288px;
@pinterest-image: '../images/sprites64.png';
@pinterest: 152px 144px -152px -144px 76px 48px 456px 288px '../images/sprites64.png';
@twitter-x: 76px;
@twitter-y: 192px;
@twitter-offset-x: -76px;
@twitter-offset-y: -192px;
@twitter-width: 76px;
@twitter-height: 48px;
@twitter-total-width: 456px;
@twitter-total-height: 288px;
@twitter-image: '../images/sprites64.png';
@twitter: 76px 192px -76px -192px 76px 48px 456px 288px '../images/sprites64.png';
@yahoo-x: 0px;
@yahoo-y: 240px;
@yahoo-offset-x: 0px;
@yahoo-offset-y: -240px;
@yahoo-width: 76px;
@yahoo-height: 48px;
@yahoo-total-width: 456px;
@yahoo-total-height: 288px;
@yahoo-image: '../images/sprites64.png';
@yahoo: 0px 240px 0px -240px 76px 48px 456px 288px '../images/sprites64.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
