/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@gallery32-a-x: 160px;
@gallery32-a-y: 56px;
@gallery32-a-offset-x: -160px;
@gallery32-a-offset-y: -56px;
@gallery32-a-width: 32px;
@gallery32-a-height: 32px;
@gallery32-a-total-width: 256px;
@gallery32-a-total-height: 248px;
@gallery32-a-image: '../images/sprites32.png';
@gallery32-a: 160px 56px -160px -56px 32px 32px 256px 248px '../images/sprites32.png';
@gallery32-x: 128px;
@gallery32-y: 88px;
@gallery32-offset-x: -128px;
@gallery32-offset-y: -88px;
@gallery32-width: 32px;
@gallery32-height: 32px;
@gallery32-total-width: 256px;
@gallery32-total-height: 248px;
@gallery32-image: '../images/sprites32.png';
@gallery32: 128px 88px -128px -88px 32px 32px 256px 248px '../images/sprites32.png';
@home32-a-x: 224px;
@home32-a-y: 0px;
@home32-a-offset-x: -224px;
@home32-a-offset-y: 0px;
@home32-a-width: 32px;
@home32-a-height: 28px;
@home32-a-total-width: 256px;
@home32-a-total-height: 248px;
@home32-a-image: '../images/sprites32.png';
@home32-a: 224px 0px -224px 0px 32px 28px 256px 248px '../images/sprites32.png';
@home32-x: 192px;
@home32-y: 28px;
@home32-offset-x: -192px;
@home32-offset-y: -28px;
@home32-width: 32px;
@home32-height: 28px;
@home32-total-width: 256px;
@home32-total-height: 248px;
@home32-image: '../images/sprites32.png';
@home32: 192px 28px -192px -28px 32px 28px 256px 248px '../images/sprites32.png';
@private32-x: 96px;
@private32-y: 120px;
@private32-offset-x: -96px;
@private32-offset-y: -120px;
@private32-width: 32px;
@private32-height: 32px;
@private32-total-width: 256px;
@private32-total-height: 248px;
@private32-image: '../images/sprites32.png';
@private32: 96px 120px -96px -120px 32px 32px 256px 248px '../images/sprites32.png';
@public32-a-x: 64px;
@public32-a-y: 152px;
@public32-a-offset-x: -64px;
@public32-a-offset-y: -152px;
@public32-a-width: 32px;
@public32-a-height: 32px;
@public32-a-total-width: 256px;
@public32-a-total-height: 248px;
@public32-a-image: '../images/sprites32.png';
@public32-a: 64px 152px -64px -152px 32px 32px 256px 248px '../images/sprites32.png';
@public32-x: 32px;
@public32-y: 184px;
@public32-offset-x: -32px;
@public32-offset-y: -184px;
@public32-width: 32px;
@public32-height: 32px;
@public32-total-width: 256px;
@public32-total-height: 248px;
@public32-image: '../images/sprites32.png';
@public32: 32px 184px -32px -184px 32px 32px 256px 248px '../images/sprites32.png';
@user32-x: 0px;
@user32-y: 216px;
@user32-offset-x: 0px;
@user32-offset-y: -216px;
@user32-width: 32px;
@user32-height: 32px;
@user32-total-width: 256px;
@user32-total-height: 248px;
@user32-image: '../images/sprites32.png';
@user32: 0px 216px 0px -216px 32px 32px 256px 248px '../images/sprites32.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
