/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@camera32-name: camera32;
@camera32-x: 576px;
@camera32-y: 0px;
@camera32-offset-x: -576px;
@camera32-offset-y: 0px;
@camera32-width: 32px;
@camera32-height: 26px;
@camera32-total-width: 608px;
@camera32-total-height: 594px;
@camera32-image: '../images/sprites32.png';
@camera32: 576px 0px -576px 0px 32px 26px 608px 594px '../images/sprites32.png' camera32;
@darkroom32-a-name: darkroom32-a;
@darkroom32-a-x: 288px;
@darkroom32-a-y: 274px;
@darkroom32-a-offset-x: -288px;
@darkroom32-a-offset-y: -274px;
@darkroom32-a-width: 32px;
@darkroom32-a-height: 32px;
@darkroom32-a-total-width: 608px;
@darkroom32-a-total-height: 594px;
@darkroom32-a-image: '../images/sprites32.png';
@darkroom32-a: 288px 274px -288px -274px 32px 32px 608px 594px '../images/sprites32.png' darkroom32-a;
@darkroom32-name: darkroom32;
@darkroom32-x: 320px;
@darkroom32-y: 242px;
@darkroom32-offset-x: -320px;
@darkroom32-offset-y: -242px;
@darkroom32-width: 32px;
@darkroom32-height: 32px;
@darkroom32-total-width: 608px;
@darkroom32-total-height: 594px;
@darkroom32-image: '../images/sprites32.png';
@darkroom32: 320px 242px -320px -242px 32px 32px 608px 594px '../images/sprites32.png' darkroom32;
@delete32-name: delete32;
@delete32-x: 480px;
@delete32-y: 82px;
@delete32-offset-x: -480px;
@delete32-offset-y: -82px;
@delete32-width: 32px;
@delete32-height: 32px;
@delete32-total-width: 608px;
@delete32-total-height: 594px;
@delete32-image: '../images/sprites32.png';
@delete32: 480px 82px -480px -82px 32px 32px 608px 594px '../images/sprites32.png' delete32;
@edit32-name: edit32;
@edit32-x: 448px;
@edit32-y: 114px;
@edit32-offset-x: -448px;
@edit32-offset-y: -114px;
@edit32-width: 32px;
@edit32-height: 32px;
@edit32-total-width: 608px;
@edit32-total-height: 594px;
@edit32-image: '../images/sprites32.png';
@edit32: 448px 114px -448px -114px 32px 32px 608px 594px '../images/sprites32.png' edit32;
@gallery32-a-name: gallery32-a;
@gallery32-a-x: 416px;
@gallery32-a-y: 146px;
@gallery32-a-offset-x: -416px;
@gallery32-a-offset-y: -146px;
@gallery32-a-width: 32px;
@gallery32-a-height: 32px;
@gallery32-a-total-width: 608px;
@gallery32-a-total-height: 594px;
@gallery32-a-image: '../images/sprites32.png';
@gallery32-a: 416px 146px -416px -146px 32px 32px 608px 594px '../images/sprites32.png' gallery32-a;
@gallery32-name: gallery32;
@gallery32-x: 384px;
@gallery32-y: 178px;
@gallery32-offset-x: -384px;
@gallery32-offset-y: -178px;
@gallery32-width: 32px;
@gallery32-height: 32px;
@gallery32-total-width: 608px;
@gallery32-total-height: 594px;
@gallery32-image: '../images/sprites32.png';
@gallery32: 384px 178px -384px -178px 32px 32px 608px 594px '../images/sprites32.png' gallery32;
@home32-a-name: home32-a;
@home32-a-x: 544px;
@home32-a-y: 26px;
@home32-a-offset-x: -544px;
@home32-a-offset-y: -26px;
@home32-a-width: 32px;
@home32-a-height: 28px;
@home32-a-total-width: 608px;
@home32-a-total-height: 594px;
@home32-a-image: '../images/sprites32.png';
@home32-a: 544px 26px -544px -26px 32px 28px 608px 594px '../images/sprites32.png' home32-a;
@home32-name: home32;
@home32-x: 512px;
@home32-y: 54px;
@home32-offset-x: -512px;
@home32-offset-y: -54px;
@home32-width: 32px;
@home32-height: 28px;
@home32-total-width: 608px;
@home32-total-height: 594px;
@home32-image: '../images/sprites32.png';
@home32: 512px 54px -512px -54px 32px 28px 608px 594px '../images/sprites32.png' home32;
@photos32-a-name: photos32-a;
@photos32-a-x: 0px;
@photos32-a-y: 562px;
@photos32-a-offset-x: 0px;
@photos32-a-offset-y: -562px;
@photos32-a-width: 32px;
@photos32-a-height: 32px;
@photos32-a-total-width: 608px;
@photos32-a-total-height: 594px;
@photos32-a-image: '../images/sprites32.png';
@photos32-a: 0px 562px 0px -562px 32px 32px 608px 594px '../images/sprites32.png' photos32-a;
@photos32-name: photos32;
@photos32-x: 256px;
@photos32-y: 306px;
@photos32-offset-x: -256px;
@photos32-offset-y: -306px;
@photos32-width: 32px;
@photos32-height: 32px;
@photos32-total-width: 608px;
@photos32-total-height: 594px;
@photos32-image: '../images/sprites32.png';
@photos32: 256px 306px -256px -306px 32px 32px 608px 594px '../images/sprites32.png' photos32;
@portfolio32-a-name: portfolio32-a;
@portfolio32-a-x: 224px;
@portfolio32-a-y: 338px;
@portfolio32-a-offset-x: -224px;
@portfolio32-a-offset-y: -338px;
@portfolio32-a-width: 32px;
@portfolio32-a-height: 32px;
@portfolio32-a-total-width: 608px;
@portfolio32-a-total-height: 594px;
@portfolio32-a-image: '../images/sprites32.png';
@portfolio32-a: 224px 338px -224px -338px 32px 32px 608px 594px '../images/sprites32.png' portfolio32-a;
@portfolio32-name: portfolio32;
@portfolio32-x: 192px;
@portfolio32-y: 370px;
@portfolio32-offset-x: -192px;
@portfolio32-offset-y: -370px;
@portfolio32-width: 32px;
@portfolio32-height: 32px;
@portfolio32-total-width: 608px;
@portfolio32-total-height: 594px;
@portfolio32-image: '../images/sprites32.png';
@portfolio32: 192px 370px -192px -370px 32px 32px 608px 594px '../images/sprites32.png' portfolio32;
@private32-name: private32;
@private32-x: 160px;
@private32-y: 402px;
@private32-offset-x: -160px;
@private32-offset-y: -402px;
@private32-width: 32px;
@private32-height: 32px;
@private32-total-width: 608px;
@private32-total-height: 594px;
@private32-image: '../images/sprites32.png';
@private32: 160px 402px -160px -402px 32px 32px 608px 594px '../images/sprites32.png' private32;
@public32-a-name: public32-a;
@public32-a-x: 128px;
@public32-a-y: 434px;
@public32-a-offset-x: -128px;
@public32-a-offset-y: -434px;
@public32-a-width: 32px;
@public32-a-height: 32px;
@public32-a-total-width: 608px;
@public32-a-total-height: 594px;
@public32-a-image: '../images/sprites32.png';
@public32-a: 128px 434px -128px -434px 32px 32px 608px 594px '../images/sprites32.png' public32-a;
@public32-name: public32;
@public32-x: 96px;
@public32-y: 466px;
@public32-offset-x: -96px;
@public32-offset-y: -466px;
@public32-width: 32px;
@public32-height: 32px;
@public32-total-width: 608px;
@public32-total-height: 594px;
@public32-image: '../images/sprites32.png';
@public32: 96px 466px -96px -466px 32px 32px 608px 594px '../images/sprites32.png' public32;
@stack32-name: stack32;
@stack32-x: 64px;
@stack32-y: 498px;
@stack32-offset-x: -64px;
@stack32-offset-y: -498px;
@stack32-width: 32px;
@stack32-height: 32px;
@stack32-total-width: 608px;
@stack32-total-height: 594px;
@stack32-image: '../images/sprites32.png';
@stack32: 64px 498px -64px -498px 32px 32px 608px 594px '../images/sprites32.png' stack32;
@upload32-name: upload32;
@upload32-x: 32px;
@upload32-y: 530px;
@upload32-offset-x: -32px;
@upload32-offset-y: -530px;
@upload32-width: 32px;
@upload32-height: 32px;
@upload32-total-width: 608px;
@upload32-total-height: 594px;
@upload32-image: '../images/sprites32.png';
@upload32: 32px 530px -32px -530px 32px 32px 608px 594px '../images/sprites32.png' upload32;
@user32-name: user32;
@user32-x: 352px;
@user32-y: 210px;
@user32-offset-x: -352px;
@user32-offset-y: -210px;
@user32-width: 32px;
@user32-height: 32px;
@user32-total-width: 608px;
@user32-total-height: 594px;
@user32-image: '../images/sprites32.png';
@user32: 352px 210px -352px -210px 32px 32px 608px 594px '../images/sprites32.png' user32;
@spritesheet-width: 608px;
@spritesheet-height: 594px;
@spritesheet-image: '../images/sprites32.png';
@spritesheet-sprites: @camera32 @darkroom32-a @darkroom32 @delete32 @edit32 @gallery32-a @gallery32 @home32-a @home32 @photos32-a @photos32 @portfolio32-a @portfolio32 @private32 @public32-a @public32 @stack32 @upload32 @user32;
@spritesheet: 608px 594px '../images/sprites32.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
