/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@camera16-x: 80px;
@camera16-y: 0px;
@camera16-offset-x: -80px;
@camera16-offset-y: 0px;
@camera16-width: 16px;
@camera16-height: 16px;
@camera16-total-width: 96px;
@camera16-total-height: 96px;
@camera16-image: '../images/sprites16.png';
@camera16: 80px 0px -80px 0px 16px 16px 96px 96px '../images/sprites16.png';
@delete16-x: 64px;
@delete16-y: 16px;
@delete16-offset-x: -64px;
@delete16-offset-y: -16px;
@delete16-width: 16px;
@delete16-height: 16px;
@delete16-total-width: 96px;
@delete16-total-height: 96px;
@delete16-image: '../images/sprites16.png';
@delete16: 64px 16px -64px -16px 16px 16px 96px 96px '../images/sprites16.png';
@home16-x: 48px;
@home16-y: 32px;
@home16-offset-x: -48px;
@home16-offset-y: -32px;
@home16-width: 16px;
@home16-height: 16px;
@home16-total-width: 96px;
@home16-total-height: 96px;
@home16-image: '../images/sprites16.png';
@home16: 48px 32px -48px -32px 16px 16px 96px 96px '../images/sprites16.png';
@logout16-x: 32px;
@logout16-y: 48px;
@logout16-offset-x: -32px;
@logout16-offset-y: -48px;
@logout16-width: 16px;
@logout16-height: 16px;
@logout16-total-width: 96px;
@logout16-total-height: 96px;
@logout16-image: '../images/sprites16.png';
@logout16: 32px 48px -32px -48px 16px 16px 96px 96px '../images/sprites16.png';
@private16-x: 16px;
@private16-y: 64px;
@private16-offset-x: -16px;
@private16-offset-y: -64px;
@private16-width: 16px;
@private16-height: 16px;
@private16-total-width: 96px;
@private16-total-height: 96px;
@private16-image: '../images/sprites16.png';
@private16: 16px 64px -16px -64px 16px 16px 96px 96px '../images/sprites16.png';
@public16-x: 0px;
@public16-y: 80px;
@public16-offset-x: 0px;
@public16-offset-y: -80px;
@public16-width: 16px;
@public16-height: 16px;
@public16-total-width: 96px;
@public16-total-height: 96px;
@public16-image: '../images/sprites16.png';
@public16: 0px 80px 0px -80px 16px 16px 96px 96px '../images/sprites16.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
