@import (reference) "colors.less";
@import (reference) "mixins.less";
@import (reference) "fonts.less";


@tab-font-size: 160%;

*[np-tabs] {
    *[np-tab] {
        display: inline-block;
        margin: 0 0 0 4em;
        cursor: pointer;
        padding: 0.3em;

        &.active {
            color: @bright-cerulean;
        }

        .image {
            display: table-cell;
        }

        .text {
            display: table-cell;
            vertical-align: middle;
            padding: 0 0 0 0.4em;
            font-size: @tab-font-size;

            &:hover {
                .glow-hover();
            }
        }
    }

    *[np-tab]:first-of-type {
        margin: 0;
    }
}
