@import (reference) "sprites32.less";

#user-home {
    margin: 6em 0 0;

    .column-center {
        width: 700px;
    }

    .column-left {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .column-right {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

.tab-gallery-img {
    .sprite(@gallery32);
}

.active {
    .tab-gallery-img {
        .sprite(@gallery32-a);
    }
}
