@import (reference) "icons.less";
@import (reference) "mixins.less";

@user-home-page-width: 900px;
@user-home-content-upper-offset: 60em/16 0 0;

#user-home {
    margin: 6em 0 0;

    div[ui-view]{
        margin: @user-home-content-upper-offset 0 0;
    }

    .column-center {
        max-width: @user-home-page-width;
    }

    .column-left {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .column-right {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .tab {
        .user-name {
            .cut-text(8em);
        }
    }
}

.horizontal {
    .tab {
        .tab-gallery {
            .icon-gallery-32;
        }

        .tab-public {
            .icon-public-32;
        }

        .tab-home {
            .icon-home-32;
        }
        .tab-darkroom {
            .icon-darkroom-32;
        }

        &.active {
            .tab-gallery {
                .icon-gallery-32-a
            }

            .tab-public {
                .icon-public-32-a;
            }

            .tab-home {
                .icon-home-32-a;
            }
            .tab-darkroom {
                .icon-darkroom-32-a;
            }
        }
    }
}
